extends base
include _largeProductTable
block Indexcss
block content
block script

    section.large-view-table(style= 'margin-top: 100px')
        .large-container
            .row
                .col-12                        
                    .card-body.py-5.mx-2
                        +largeProductTable(busAccountProducts, 'All Products' )