extends base
block Indexcss
block content
block script
        

    section
        .form-container(style= 'margin-top: 150px;')
            form.create-product-form(method='post')
                .text-center.py-4
                    h3.pt-3 Create a New Product
                .row.mx-2.py-3
                    .col
                        input#productName.form-control(type='text', placeholder='Product Name' required='')
                .row.mx-2.py-3
                    .col
                        input#productStock.form-control(type='number', placeholder='Quantity Available' required='')
                .row.mx-2.py-3
                    .col
                        textarea#additionalInfo.form-control(name='editordata',placeholder='Submit button Info' )
                .panel.panel-info.mx-2.my-3
                    .panel-heading.collapsed(data-toggle='collapse', data-target='#pricing-panel' style = "background-color: lightgrey;" )
                        .ml-2.py-2
                            i.fa.fa-fw.fa-chevron-down
                            i.fa.fa-fw.fa-chevron-right
                            | Pricing:
                    .panel-body
                        #pricing-panel.collapse
                            p.mx-4.mt-3.mb-2
                                b Type:
                            .row.mx-2.py-3
                                .col-8
                                    select#productPriceType.form-control
                                        option#varientProductPrice(selected='' value='promoPriceForm') Varient Prices
                                        option#oneProductPrice( value='onePriceForm') One Price
                                        
                            #onePriceForm(style= 'display: none;')
                                .row.mx-2.py-3
                                    .col-8
                                        .input-group
                                            .input-group-prepend
                                                .input-group-text ₦
                                            input#productPrice.form-control(type='number', placeholder='Price')
                            #promoPriceForm
                                .QPInputcl
                                    .row.mx-2.py-3
                                        .col-7
                                            input#promoQty.form-control(type='text', placeholder='Quantity 1')
                                        .col-5
                                            .input-group
                                                .input-group-prepend
                                                    .input-group-text ₦
                                                input#promoPrice.form-control(type='number', placeholder='Price 1' )
                                                i.deleteQPInput.my-auto.ml-1.far.fa-trash-alt(style='font-size: 0.9rem' onclick="deleteQPInput()")                                    
               
                                a#cloneQPBtn.ml-3.my-0(type='button' style='font-size: 1rem; color: blue;') Create more options 
                            .row.mx-3.py-3.my-4
                                .col
                                    label Discount
                                        i.ml-1.fas.fa-info-circle(type='button', data-toggle='tooltip', data-placement='top', title='This is the discount you want to give customers if they pay before delivery. eg: Product price is 10,000 but if you pay now through rirapay, you get 10% discount' style='-webkit-appearance: none;')
                                    .input-group.w-100
                                        input#inputDiscount.form-control(type='number', placeholder='eg: 20')
                                        .input-group-append
                                            .input-group-text %
                                    small.form-text We reconmend giving out more than 10% discount for order placed with RiraPay.
                .panel.panel-info.mx-2.my-3
                    .panel-heading.collapsed(data-toggle='collapse', data-target='#createproduct-color-size' style = "background-color: lightgrey;" )
                        .ml-2.py-2
                            i.fa.fa-fw.fa-chevron-down
                            i.fa.fa-fw.fa-chevron-right
                            | Color/Size(Optional)
                    .panel-body
                        #createproduct-color-size.collapse
                            .row.mx-3.my-2
                                .col
                                    | Color
                                    input#color-tags.form-control(style= 'width: 25rem; height: 4rem;' type='text', value=''  data-role='tagsinput' )
                                    small.form-text Seperate each color with comma. eg blue, green, purple. Click 'x' to remove colour. 
                            .row.mx-3.mb-3
                                .col
                                    | Size
                                    input#size-tags.form-control( type='text', value='' data-role='tagsinput',)
                                    small.form-text Seperate each size with comma. eg large, medium, extra large. Click 'x' to remove colour 

                .panel.panel-info.mx-2.my-3
                    .panel-heading.collapsed(data-toggle='collapse', data-target='#styling-product-panel' style = "background-color: lightgrey;" )
                        .ml-2.py-2
                            i.fa.fa-fw.fa-chevron-down
                            i.fa.fa-fw.fa-chevron-right
                            | Form Styling(Optional)
                    .panel-body
                        #styling-product-panel.collapse
                            .row.mx-3.mb-3.mt-4
                                .col
                                    label Button text
                                    input#submitbBtnTextInput.form-control( type='text', value='Submit Order',)
                            .row.mx-3.mt-3.mb-5
                                .col-6
                                    label Background Color
                                    input#submitBtnBGColor.form-control( type='color', value='#01afee',)
                                .col-6
                                    label Text Color
                                    input#submitBtnTextColor.form-control( type='color', value='#ffffff',)
                            .text-center.mb-3
                                input#submitBtnSample.rira-color-btn.btn.btn-lg.my-1.mx-auto.d-block(type='button' value='Submit Order')




                                
                .panel.panel-info.mx-2.my-3
                    .panel-heading.collapsed(data-toggle='collapse', data-target='#createproduct-fbpixelaccord' style = "background-color: lightgrey;" )
                        .ml-2.py-2
                            i.fa.fa-fw.fa-chevron-down
                            i.fa.fa-fw.fa-chevron-right
                            | Pixel Tracking(Optional)
                    .panel-body.my-4
                        #createproduct-fbpixelaccord.collapse
                            p Direct Tracking:
                                i.ml-1.fas.fa-info-circle(type='button', data-toggle='tooltip', data-placement='right', title='If you want RiraPay to automatically track your pixel, input your pixel ID, value, event and currency below or use the second option' style='-webkit-appearance: none;')

                            .row.mx-3.my-2
                                .col
                                    input#product-pixel-id.form-control( type='Number', value="", placeholder='Pixel ID' )
                            .row.mx-3.my-2
                                .col
                                    select#product-pixel-currency.form-control
                                        option(selected='', value='USD') USD
                                        option( value='NGN') NGN
                                        option( value='GBP') GBP
                                        option( value='EUR') EUR
                            .row.mx-3.my-2
                                .col
                                    select#product-pixel-conversion.form-control
                                        option(selected='', value='Purchase	') Purchase	
                                        option( value='CompleteRegistration') Complete registration
                                        option( value='Lead') Lead
                                        option( value='SubmitApplication') Submit application	
                                        option( value='InitiateCheckout') Initiate checkout	
                                        option( value='AddToCart') Add to cart		
                                        option( value='AddPaymentInfo') Add payment info		
                            .row.mx-3.my-2
                                .col
                                    input#product-pixel-value.form-control( type='Number', value="", placeholder='Value')                 
                            p Thank you Page:
                                i.ml-1.fas.fa-info-circle.my-auto(type='button', data-toggle='tooltip', data-placement='right', title='If you prefer using your custom thank you page, input it below with full domain description eg: https://yourstore.com/thank-you' style='-webkit-appearance: none;')
                            .row.mx-3.my-2
                                .col
                                    input#product-thank-you-page.form-control( type='Text', value="", placeholder='https://yourstore.com/thank-you' onfocusout="showUrlError()")                 
                .panel.panel-info.mx-2.my-3
                    .panel-heading.collapsed(data-toggle='collapse', data-target='#others-product-panel' style = "background-color: lightgrey;" )
                        .ml-2.py-2
                            i.fa.fa-fw.fa-chevron-down
                            i.fa.fa-fw.fa-chevron-right
                            | Others(Optional)
                    .panel-body
                        #others-product-panel.collapse
                            .row.mx-3.my-2
                                .col
                                    label Other Info
                                        i.ml-1.fas.fa-info-circle(type='button', data-toggle='tooltip', data-placement='top', title='Any another warning or information you want attached to this product when you send order infomation. Like your account details, etc' style='-webkit-appearance: none;')

                                    textarea#product-del-Info.form-control(placeholder='Type any other information you want added to your order information when sharing with an agent' )
                .text-center.my-5
                    button.rira-color-btn.btn.btn-lg.my-1.mx-auto.d-block(type='submit') Create Product
                

            script.
                //- $(document).ready(function() {
                //-     $('#additionalInfo').summernote();
                //-     });
                function deleteQPInput (){
                    if (!e) var e = window.event;
                    var target = e.target || e.srcElement;
                    target.closest('.QPInputcl').remove();
                }
                function showUrlError (){
                    if (!e) var e = window.event;
                    var target = e.target || e.srcElement;
                    if (target.value.indexOf("http") === -1) {
                    alert('Please make sure you use the full url description eg: https://yourstore.com/thank-you')
                    return false;
                    }return false
                }
                
                